@font-face {
  font-family: "SevenOneEight-Black";
  src: url("../fonts/SevenOneEight-Black.ttf");
}
@font-face {
  font-family: "SevenOneEight-Book";
  src: url("../fonts/SevenOneEight-Book.ttf");
}
@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf");
}
@font-face {
  font-family: "SevenOneEight-Light";
  src: url("../fonts/SevenOneEight-Light.ttf");
}
@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("../fonts/SevenOneEight-Medium.ttf");
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  font-family: "SevenOneEight-Light";
}
body button {
  border: none;
  cursor: pointer;
}
body select {
  border: none;
}
body h1 {
  font-size: 55px;
  color: #ec3223;
  text-transform: uppercase;
  text-align: center;
}
body h2 {
  font-size: 45px;
  color: #333;
  text-transform: uppercase;
}
body select {
  background-color: #fff;
  width: 20%;
  height: 100px;
  margin: 140px 0;
}
body select::-ms-expand {
  display: none;
}
body .dest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  width: 100%;
  margin-bottom: 140px;
}
body .dest-container .dest-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 730px;
  border-radius: 5px;
  height: 21vw;
  width: 30%;
  background-color: #fff;
  font-size: 13px;
}
body .dest-container .dest-item img {
  width: 100%;
  height: 70%;
}
body .dest-container .dest-item .bottom-infos {
  width: 70%;
}
body .dest-container .dest-item .bottom-infos .country {
  display: block;
  width: 100%;
  font-family: "SevenOneEight-Book";
}
body .dest-container .dest-item .bottom-infos .country .place {
  font-family: "SevenOneEight-Light";
}
body .dest-container .dest-item .bottom-infos .hotel {
  display: block;
  width: 100%;
}
body .dest-container .dest-item .bottom-infos .tag {
  color: #fff;
  text-transform: uppercase;
  padding: 3px;
}
body .dest-container .dest-item .bottom-infos .tag.black {
  background-color: #000;
}
body .dest-container .dest-item .bottom-infos .tag.beige {
  background-color: #bd9c6a;
}
body .dest-container .dest-item button {
  width: 3vw;
  height: 3vw;
  margin: auto 2vw 2vw auto;
  color: #fff;
  background-color: #ec3223;
}
body h5 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
}
body h5 .offer-title {
  color: #333;
  font-size: 25px;
}
body h5 .offer-title.bold {
  font-weight: bold;
}
body .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ec3223;
  width: 100%;
  padding: 45px 0;
  font-size: 30px;
  color: #fff;
}
body .banner .code-link {
  font-size: 20px;
}
body .banner .code-link a {
  color: #fff;
}
body .banner .code-link a:hover {
  text-decoration: none;
}
body .step-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  margin: 50px 0;
}
body .step-container .step-item {
  display: flex;
  justify-content: center;
  width: 30%;
}
body .step-container .step-item .number {
  font-size: 100px;
  color: #ec3223;
  font-family: "SevenOneEight-ExtraBold";
}
body .step-container .step-item .text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #333;
}
body .step-container .step-item .text span.bold-step {
  color: #ec3223;
  font-family: "SevenOneEight-Black";
}
body button.register {
  text-transform: uppercase;
  width: 40%;
  height: 60px;
  color: #fff;
  background-color: #ec3223;
  font-size: 18px;
  margin-bottom: 240px;
}
body footer {
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 24px 0 50px;
}
body footer .emphasis {
  font-family: "SevenOneEight-Black";
}
@media screen and (max-width: 992px) {
  html body h1 {
    font-size: 35px;
  }
  html body h2 {
    font-size: 28px;
  }
  html body select {
    width: 30%;
    height: 30px;
    border: 1px solid black;
    margin: 40px 0;
  }
  html body .dest-container .dest-item {
    height: 63vw;
    width: 90%;
    font-size: 18px;
  }
  html body .dest-container .dest-item .bottom-infos {
    width: 75%;
  }
  html body .dest-container .dest-item .bottom-infos .tag {
    padding: 3px;
  }
  html body .dest-container .dest-item button {
    width: 9vw;
    height: 9vw;
    margin: auto 6vw 6vw auto;
  }
  html body .dest-container.last {
    margin-bottom: 380px;
  }
  html body .step-container {
    flex-direction: column;
    align-content: center;
  }
  html body .step-container .step-item {
    justify-content: left;
    width: auto;
  }
  html body .banner .code-link {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  html body h1 {
    font-size: 20px;
  }
  html body h2 {
    font-size: 15px;
  }
  html body .dest-container.last {
    margin-bottom: 320px;
  }
  html body .banner .code-link {
    width: 70%;
  }
}
