@font-face {
  font-family: "SevenOneEight-Black";
  src: url("../fonts/SevenOneEight-Black.ttf");
}
@font-face {
  font-family: "SevenOneEight-Book";
  src: url("../fonts/SevenOneEight-Book.ttf");
}
@font-face {
  font-family: "SevenOneEight-ExtraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf");
}
@font-face {
  font-family: "SevenOneEight-Light";
  src: url("../fonts/SevenOneEight-Light.ttf");
}
@font-face {
  font-family: "SevenOneEight-Medium";
  src: url("../fonts/SevenOneEight-Medium.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  font-family: "SevenOneEight-Light";

  button {
    border: none;
    cursor: pointer;
  }

  select {
    border: none;
  }

  h1 {
    font-size: 55px;
    color: #ec3223;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    font-size: 45px;
    color: #333;
    text-transform: uppercase;
  }

  select {
    background-color: #fff;
    width: 20%;
    height: 100px;
    margin: 140px 0;

    &::-ms-expand {
      display: none;
    }
  }

  .dest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    width: 100%;
    margin-bottom: 140px;

    .dest-item {
      display: flex;
      flex-wrap: wrap;
      max-width: 730px;
      border-radius: 5px;
      height: 21vw;
      width: 30%;
      background-color: #fff;
      font-size: 13px;

      img {
        width: 100%;
        height: 70%;
      }

      .bottom-infos {
        width: 70%;

        .country {
          display: block;
          width: 100%;
          font-family: "SevenOneEight-Book";

          .place {
            font-family: "SevenOneEight-Light";
          }
        }
        .hotel {
          display: block;
          width: 100%;
        }
        .tag {
          color: #fff;
          text-transform: uppercase;
          padding: 3px;

          &.black {
            background-color: #000;
          }

          &.beige {
            background-color: #bd9c6a;
          }
        }
      }
      button {
        width: 3vw;
        height: 3vw;
        margin: auto 2vw 2vw auto;
        color: #fff;
        background-color: #ec3223;
      }
    }
  }

  h5 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 0;
    text-transform: uppercase;

    .offer-title {
      color: #333;
      font-size: 25px;

      &.bold {
        font-weight: bold;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ec3223;
    width: 100%;
    padding: 45px 0;
    font-size: 30px;
    color: #fff;

    .code-link {
      font-size: 20px;

      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    margin: 50px 0;

    .step-item {
      display: flex;
      justify-content: center;
      width: 30%;

      .number {
        font-size: 100px;
        color: #ec3223;
        font-family: "SevenOneEight-ExtraBold";
      }
      .text {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        color: #333;

        span {
          &.bold-step {
            color: #ec3223;
            font-family: "SevenOneEight-Black";
          }
        }
      }
    }
  }

  button.register {
    text-transform: uppercase;
    width: 40%;
    height: 60px;
    color: #fff;
    background-color: #ec3223;
    font-size: 18px;
    margin-bottom: 240px;
  }

  footer {
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 24px 0 50px;

    .emphasis {
      font-family: "SevenOneEight-Black";
    }
  }
}
@media screen and (max-width: 992px) {
  html {
    body {
      h1 {
        font-size: 35px;
      }
      h2 {
        font-size: 28px;
      }
      select {
        width: 30%;
        height: 30px;
        border: 1px solid black;
        margin: 40px 0;
      }
      .dest-container {
        .dest-item {
          height: 63vw;
          width: 90%;
          font-size: 18px;

          .bottom-infos {
            width: 75%;

            .tag {
              padding: 3px;
            }
          }
          button {
            width: 9vw;
            height: 9vw;
            margin: auto 6vw 6vw auto;
          }
        }

        &.last {
          margin-bottom: 380px;
        }
      }

      .step-container {
        flex-direction: column;
        align-content: center;

        .step-item {
          justify-content: left;
          width: auto;
        }
      }

      .banner {
        .code-link {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    body {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 15px;
      }
      .dest-container {
        &.last {
          margin-bottom: 320px;
        }
      }
      .banner {
        .code-link {
          width: 70%;
        }
      }
    }
  }
}
